[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
scrapy = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
coverage = "*"
tox = "*"
pytest = "*"
check-manifest = "*"

[requires]
python_version = "3.8"
